#about__title {
  text-align: center;
  padding: 75px 0 75px 0;
}

.about__container {
  overflow: hidden;
  padding-bottom: 70px;
  background-color: #eaeaea;
}

#headshot {
  width: 175px;
  height: 230px;
  margin-top: 30px;
}

#skills__row {
  margin-top: 100px;
}

#skills__table__col {
  margin-top: 20px;
  margin-left: 20px;
}

p {
  color: inherit !important;
}

@media only screen and (max-width: 600px) {
  #skills__table__col {
    margin-top: 100px;
    margin-left: 0px;
  }
}

#about__title {
  font-weight: 600;
  font-size: 48px;
}

.FaStyles {
  font-size: 56px;
}

.dark {
  background: rgb(51, 51, 51);
  color: white;
}
