#work__btn__icon {
  padding-left: 10px;
  transition: 0.5s ease-in-out;
}

#work__btn {
  background-color: transparent;
  padding: 10px;
  font-size: 22px;
  font-weight: 400;
  border: 2px solid white;
  color: white;
}

#work__btn:hover {
  background-color: #343a40;
  transition: 0.5s ease-in-out;
  border: 2px solid #343a40;
}

button:hover #work__btn__icon {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
  transform: rotate(90deg);
  transition: 0.5s ease-in-out;
}

#header__container {
  height: 100vh;
}

#header__inner__div {
  z-index: 2;
  color: white;
  width: 500px;
  text-align: center;
}

#bg-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -5;
}
