.project__container {
  background-color: #f7f7f7;
  padding-top: 100px;
  padding-bottom: 130px;
}

#project__title {
  text-align: center;
  padding: 75px 0 75px 0;
  font-weight: 600;
  font-size: 48px;
}
.project__button {
  padding: 10px;
  background-color: transparent;
  border: 2px solid #425664;
  transition: 0.5s ease-in-out;
  font-weight: 400;
  border-radius: 5px;
}

.project__button:hover {
  background-color: #425664;
  border: 2px solid #425664;
  color: white;
  transition: 0.5s ease-in-out;
}

.card__title {
  font-size: 22px;
}

@media only screen and (max-width: 770px) {
  .portfolio__cards {
    margin-bottom: 50px;
  }
}

.dark {
  background: #333;
  color: white;
}
